$bg-color: #e4e4e7;
$blue-dark: #0f1b46;
$blue-medium: #193c9a;
$blue-light: #4a87ea;

$image-width: 600px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-fam: 'Montserrat', sans-serif;
