@import "config";

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $blue-dark;
  height: 100vh;
}

main {
  font-family: $font-fam;
  display: grid;
  gap: 30px;
  grid-template-areas: 'header header'
                       'left right';
  grid-template-columns: repeat(2, $image-width);
  justify-content: center;
}

h1, h3{
  text-transform: uppercase;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-weight: bolder;
  margin: 15px 0;
}

.header {
  margin-top: 20px;
  grid-area: header;
}

.display-section {
  grid-area: left;
  display: grid;
  gap: 20px;
  width: $image-width;
  grid-template-areas: 'image image'
                       'btn-r btn-d';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $image-width min-content;

  button {
    align-self: start;
    border: none;
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.img-container {
  height: $image-width;
  width: $image-width;
  grid-area: image;
  img {
    height: $image-width;
    width: $image-width;
    position: absolute;
  }
}

#btn-download {
  grid-area: btn-d;
}

#btn-random {
  grid-area: btn-r;
}

.style-section {
  grid-area: right;
  padding-left: 20px;

  .categories-container, .style-container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .style-container-list {
    &.hidden {
      display: none;
    }
  }
  .ck-button {
    color: $blue-light;
    font-size: 1.3rem;
    background: transparent;
    border: 2px solid $blue-light;
    padding: 15px 30px;
    border-radius: 50px;

    &:hover {
      font-weight: bolder;
      border-width: 3px;
    }
  }
  input:checked + .ck-button {
    color: $bg-color;
    background: $blue-medium;
    border-color: $blue-medium;
  }
}


